[Desktop Entry]
Encoding=UTF-8
Name=Silikegujo
Comment=Math parser and calculator
Type=Application
Exec=Silikegujo
Icon=silikego
Terminal=false
Categories=GTK;Utility
